@import 'libs/bootstrap-reboot.min';
// @import 'libs/fonts';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');
@import 'base/variables';
@import 'base/mixins';

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

@import 'libs/buttons';
@import 'libs/divider';
@import 'blocks/title/title';
@import 'blocks/promo/promo';
@import 'blocks/sidepanel/sidepanel';
@import 'blocks/menu/menu';
@import 'blocks/about/about';
@import 'blocks/resume/resume';
@import 'blocks/skills/skills';
@import 'blocks/portfolio/portfolio';
@import 'blocks/price/price';
@import 'blocks/contacts/contacts';
@import 'blocks/footer/footer';

@import 'blocks/title/title-media';
@import 'blocks/sidepanel/sidepanel-media';
@import 'blocks/menu/menu-media';
@import 'blocks/promo/promo-media';
@import 'blocks/about/about-media';
@import 'blocks/resume/resume-media';
@import 'blocks/skills/skills-media';
@import 'blocks/portfolio/portfolio-media';
@import 'blocks/price/price-media';
@import 'blocks/contacts/contacts-media';
@import 'blocks/footer/footer-media';
