// @media (max-width: 2048px) {
// }
@media (max-width: 1200px) {
	.resume {
		padding-top: 90px;
		&__wrapper {
			margin-top: 60px;
			padding: 0;
		}
	}
}
@media (max-width: 992px) {
	.resume {
		&__wrapper {
			grid-template-columns: repeat(2, 350px);
			column-gap: 30px;
		}
		&__item {
			&-study {
				line-height: 18px;
			}
		}
	}
}
@media (max-width: 768px) {
	.resume {
		&__wrapper {
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(2, 1fr);
		}
		&__column {
			margin-bottom: 40px;
		}
	}
}
@media (max-width: 576px) {
}
