// @media (max-width: 2048px) {
// }
@media (max-width: 1200px) {
	.skills {
		margin-top: 55px;
		&__wrapper {
			grid-template-columns: repeat(auto-fit, 270px);
			justify-content: center;
		}
		&__branch {
			grid-template-columns: repeat(auto-fit, 350px);
			justify-content: center;
		}
	}
}
@media (max-width: 992px) {
	.skills {
		&__branch {
			justify-content: center;
			column-gap: 20px;
		}
		&__strip {
			width: 270px;
		}
	}
}
@media (max-width: 768px) {
	.skills {
		&__wrapper {
			justify-content: center;
			margin-top: 30px;
		}
	}
}
@media (max-width: 576px) {
	.skills {
		&__wrapper {
			justify-content: center;
		}
		&__branch {
			margin-top: 80px;
			justify-content: center;
		}
		&__strip {
			width: 270px;
		}
	}
}
